<div>
  <h3>Content</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date modified</th>
        <th>Date created</th>
        <th>Author</th>
        <th>Category</th>
        <th>Buttons</th>
      </tr>
    </thead>
    <tbody>
      {{#each contents}}
      <tr>
        <td>{{title}}</td>
        <td>{{modified}}</td>
        <td>{{created}}</td>
        <td>{{author}}</td>
        <td>{{category}}</td>
        <td>
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-warning">Delete</button>
          <button class="btn btn-success">Submit</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <button class="btn">Add Content</button>

</div>
